[submodule "fprime-arduino"]
        path = fprime-arduino
        url = https://github.com/CubeSTEP/fprime-arduino.git
[submodule "fprime-freertos"]
	path = fprime-freertos
	url = https://github.com/fprime-community/fprime-freertos.git
